# ./.github/workflows/workflow_call.yml
# λ‹¤λ¥Έ μ›ν¬ν”λ΅κ°€ νΈμ¶ν•  λ•λ§ λ™μ‘ν•λ―€λ΅ μ§μ ‘ μ‹¤ν–‰ λ¶κ°€.
# on: workflow ν™μ„±ν™” μ΄λ²¤νΈ μ •μ
# workflow_call: λ‹¤λ¥Έ workflowμ— μν•΄ νΈμ¶ κ°€λ¥ μ •μ
# inputs: νΈμ¶ workflowμ—μ„ μ΄ workflowλ΅ μ „λ‹¬ν•  μ…λ ¥ νλΌλ―Έν„° μ •μ
# environment: μ…λ ¥ νλΌλ―Έν„° κ°’(μ΄λ¦„)
# required: true: μ…λ ¥ νλΌλ―Έν„° ν•„μ μ΅°κ±΄
# type: string: μ…λ ¥ νλΌλ―Έν„° ν•μ‹

name: Workflows Names - called_workflow
run-name: Runs Names - called_workflow π€

on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string

jobs:
  Jobs-Names-called_workflow:
    runs-on: ubuntu-latest
    steps:
      - name: echo enviroment
        run: echo Setup for ${{ inputs.environment }}
